* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}
.img_logo {
  max-width: 150px;
  max-height: 100px;
}
.right-section {
  display: flex;
  align-items: end;
  gap: 15px;
}
.search-bar input {
  padding: 5px;
  border-radius: 13px;
  border: 1px solid #ccc;
  width: 20rem;
}
.logout-btn {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #0056b3;
}
.user-profile {
  height: 22px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: #007bff;
}
.sidebar .nav-links {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 20px;
  padding-top: 20px;
}

.nav-links li {
  list-style: none;
}
.nav-links li a {
  display: flex;
  border-radius: 25px 5px 5px 25px;
  text-decoration: none;
  align-items: center;
  padding-left: 8px;
  color: #ffffff;
  gap: 10px;
  height: 40px;
  transition: color 0.7s, background-color 0.5s;
  background-color: #007bff;
}
.nav-links li a:hover {
  color: #ececec;
  font: bold;
  background-color: #03045e;
}
.nav-links li a.selected {
  background-color: #03045e;
}
main {
  margin-left: 200px;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
