*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; 
}
.img_logo{
  width: 160px;
}
.contenedorPrincipal {
  display: flex;
  width: 900px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.contenedorIzquierdo, .contenedorDerecho {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.contenedorIzquierdo {
  background-color: #fff; 
  padding: 20px;
}

.contenedor_login {
  width: 80%; 
}

h1 {
  color: #333; 
}

p {
  color: #666; 
}

label {
  display: block;
  margin: 10px 0 5px; 
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #475bd8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6b35; 
}

.contenedorDerecho {
  background-color: #475bd8; 
  color: white; 
  font-size: 80px; 
}
